In [25]:
import pandas as pd  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder ,OneHotEncoder
import pickle

In [26]:
data=pd.read_csv('Churn_Modelling.csv')

In [27]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [29]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [30]:
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [31]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [32]:
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [33]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [34]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [35]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

In [37]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [38]:
## split data into train and test

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler= StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test =scaler.transform(X_test)

In [39]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [40]:
## ANN with regression

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [41]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [42]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
from tensorflow.keras.callbacks import EarlyStopping

## set up Early stopping

Early_Stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [44]:
## Train the model

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[Early_Stopping_callback]
)

Epoch 1/100

250/250 [==============================] - 2s 3ms/step - loss: 100397.0234 - mae: 100397.0234 - val_loss: 98589.2812 - val_mae: 98589.2812
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99890.7109 - mae: 99890.7109 - val_loss: 97537.9219 - val_mae: 97537.9219
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 97999.5703 - mae: 97999.5703 - val_loss: 94697.5781 - val_mae: 94697.5781
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 94115.3672 - mae: 94115.3672 - val_loss: 89763.6406 - val_mae: 89763.6406
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 88191.5703 - mae: 88191.5703 - val_loss: 82978.2812 - val_mae: 82978.2812
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 80698.8906 - mae: 80698.8906 - val_loss: 75215.7344 - val_mae: 75215.7344
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 72658.0703 - mae: 72658.0703 - val_loss: 67554.6484 - val_mae: 67554.6484
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 65181.0195 - mae: 65181.0195 - val_loss: 60954.0859 - val_mae: 60954.0859
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 59138.5430 - mae: 59138.5430 - val_loss: 56115.2891 - val_mae: 56115.2891
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 55001.5391 - mae: 55001.5391 - val_loss: 53167.3789 - val_mae: 53167.3789
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 52515.8164 - mae: 52515.8164 - val_loss: 51594.0273 - val_mae: 51594.0273
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 51208.5781 - mae: 51208.5781 - val_loss: 50955.3047 - val_mae: 50955.3047
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50630.3203 - mae: 50630.3203 - val_loss: 50773.4062 - val_mae: 50773.4062
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50387.7070 - mae: 50387.7070 - val_loss: 50703.5156 - val_mae: 50703.5156
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50266.2070 - mae: 50266.2070 - val_loss: 50668.5000 - val_mae: 50668.5000
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50187.0547 - mae: 50187.0547 - val_loss: 50631.5469 - val_mae: 50631.5469
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50130.3594 - mae: 50130.3594 - val_loss: 50611.7148 - val_mae: 50611.7148
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50077.4258 - mae: 50077.4258 - val_loss: 50586.8164 - val_mae: 50586.8164
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 50035.5195 - mae: 50035.5195 - val_loss: 50561.5039 - val_mae: 50561.5039
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49996.2539 - mae: 49996.2539 - val_loss: 50550.7031 - val_mae: 50550.7031
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49964.2344 - mae: 49964.2344 - val_loss: 50536.6992 - val_mae: 50536.6992
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49932.8086 - mae: 49932.8086 - val_loss: 50517.3008 - val_mae: 50517.3008
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49906.7539 - mae: 49906.7539 - val_loss: 50508.4062 - val_mae: 50508.4062
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49883.1562 - mae: 49883.1562 - val_loss: 50496.5117 - val_mae: 50496.5117
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49859.3867 - mae: 49859.3867 - val_loss: 50473.1289 - val_mae: 50473.1289
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 49839.1914 - mae: 49839.1914 - val_loss: 50465.6641 - val_mae: 50465.6641
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49818.0156 - mae: 49818.0156 - val_loss: 50458.3906 - val_mae: 50458.3906
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 49797.6719 - mae: 49797.6719 - val_loss: 50439.2383 - val_mae: 50439.2383
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 49780.6094 - mae: 49780.6094 - val_loss: 50435.5352 - val_mae: 50435.5352
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 49765.5938 - mae: 49765.5938 - val_loss: 50427.3320 - val_mae: 50427.3320
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49754.1328 - mae: 49754.1328 - val_loss: 50424.8008 - val_mae: 50424.8008
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49737.5234 - mae: 49737.5234 - val_loss: 50419.6875 - val_mae: 50419.6875
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49722.3477 - mae: 49722.3477 - val_loss: 50406.1094 - val_mae: 50406.1094
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 49709.1719 - mae: 49709.1719 - val_loss: 50401.7734 - val_mae: 50401.7734
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49694.6289 - mae: 49694.6289 - val_loss: 50401.3438 - val_mae: 50401.3438
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49683.4648 - mae: 49683.4648 - val_loss: 50405.7969 - val_mae: 50405.7969
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49672.0586 - mae: 49672.0586 - val_loss: 50408.3320 - val_mae: 50408.3320
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49660.7422 - mae: 49660.7422 - val_loss: 50396.8555 - val_mae: 50396.8555
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49649.1211 - mae: 49649.1211 - val_loss: 50396.2461 - val_mae: 50396.2461
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49642.9062 - mae: 49642.9062 - val_loss: 50387.0273 - val_mae: 50387.0273
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49628.2344 - mae: 49628.2344 - val_loss: 50386.0625 - val_mae: 50386.0625
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49621.4102 - mae: 49621.4102 - val_loss: 50381.9102 - val_mae: 50381.9102
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49607.3945 - mae: 49607.3945 - val_loss: 50381.2578 - val_mae: 50381.2578
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49600.8008 - mae: 49600.8008 - val_loss: 50378.5977 - val_mae: 50378.5977
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49589.7109 - mae: 49589.7109 - val_loss: 50370.0391 - val_mae: 50370.0391
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49578.8750 - mae: 49578.8750 - val_loss: 50368.6875 - val_mae: 50368.6875
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49575.2773 - mae: 49575.2773 - val_loss: 50365.8320 - val_mae: 50365.8320
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49561.8711 - mae: 49561.8711 - val_loss: 50370.8438 - val_mae: 50370.8438
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49557.5078 - mae: 49557.5078 - val_loss: 50373.2031 - val_mae: 50373.2031
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49548.8438 - mae: 49548.8438 - val_loss: 50378.5898 - val_mae: 50378.5898
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 49540.9062 - mae: 49540.9062 - val_loss: 50374.3906 - val_mae: 50374.3906
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49530.3906 - mae: 49530.3906 - val_loss: 50366.9922 - val_mae: 50366.9922
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49524.4375 - mae: 49524.4375 - val_loss: 50369.3125 - val_mae: 50369.3125
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49517.3438 - mae: 49517.3438 - val_loss: 50372.5586 - val_mae: 50372.5586
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49513.4453 - mae: 49513.4453 - val_loss: 50368.6055 - val_mae: 50368.6055
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 49506.8164 - mae: 49506.8164 - val_loss: 50380.1836 - val_mae: 50380.1836
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49496.7031 - mae: 49496.7031 - val_loss: 50373.9883 - val_mae: 50373.9883

In [46]:
model.save('regressionmodel.h5')

C:\Users\jaipr\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(