In [37]:
import pandas as pd  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder ,OneHotEncoder
import pickle

In [38]:
data=pd.read_csv('cust_satisfaction.csv')

In [39]:
data.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [40]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [41]:
data

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,0,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,1,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [42]:
label_encoder_customer_type = LabelEncoder()
data['Customer Type'] = label_encoder_gender.fit_transform(data['Customer Type'])

In [43]:
data

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,1,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,0,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,0,0,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,0,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,0,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,1,1,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,1,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,0,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [44]:
label_encoder_type_of_travel = LabelEncoder()
data['Type of Travel'] = label_encoder_gender.fit_transform(data['Type of Travel'])

In [45]:
data

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,1,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,1,0,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,0,0,Business,satisfied,26,1142,5,4,5,0,0.0
3,0,0,0,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,0,0,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,0,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,0,0,Business,satisfied,49,2347,5,5,4,0,0.0
103901,1,1,0,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,1,0,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,0,0,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [46]:
label_encoder_satisfaction = LabelEncoder()
data['satisfaction'] = label_encoder_satisfaction.fit_transform(data['satisfaction'])

In [47]:
data

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,1,Eco Plus,0,13,460,5,4,5,25,18.0
1,1,1,0,Business,0,25,235,1,3,1,1,6.0
2,0,0,0,Business,1,26,1142,5,4,5,0,0.0
3,0,0,0,Business,0,25,562,2,3,2,11,9.0
4,1,0,0,Business,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,0,Eco,0,23,192,2,4,2,3,0.0
103900,1,0,0,Business,1,49,2347,5,5,4,0,0.0
103901,1,1,0,Business,0,30,1995,4,4,4,7,14.0
103902,0,1,0,Eco,0,22,1000,1,1,1,0,0.0
103903,1,0,0,Business,0,27,1723,1,4,1,0,0.0

In [48]:
onehot_encoder_class=OneHotEncoder(handle_unknown='ignore')
class_encoded = onehot_encoder_class.fit_transform(data[['Class']]).toarray()
class_encoded_df = pd.DataFrame(class_encoded,columns=onehot_encoder_class.get_feature_names_out(['Class']))

In [49]:
class_encoded_df

        Class_Business  Class_Eco  Class_Eco Plus
0                  0.0        0.0             1.0
1                  1.0        0.0             0.0
2                  1.0        0.0             0.0
3                  1.0        0.0             0.0
4                  1.0        0.0             0.0
...                ...        ...             ...
103899             0.0        1.0             0.0
103900             1.0        0.0             0.0
103901             1.0        0.0             0.0
103902             0.0        1.0             0.0
103903             1.0        0.0             0.0

[103904 rows x 3 columns]

In [50]:
data = pd.concat([data.drop('Class',axis=1),class_encoded_df],axis=1)

In [51]:
data

,Gender,Customer Type,Type of Travel,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Class_Business,Class_Eco,Class_Eco Plus
0,1,0,1,0,13,460,5,4,5,25,18.0,0.0,0.0,1.0
1,1,1,0,0,25,235,1,3,1,1,6.0,1.0,0.0,0.0
2,0,0,0,1,26,1142,5,4,5,0,0.0,1.0,0.0,0.0
3,0,0,0,0,25,562,2,3,2,11,9.0,1.0,0.0,0.0
4,1,0,0,1,61,214,3,4,3,0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,0,0,23,192,2,4,2,3,0.0,0.0,1.0,0.0
103900,1,0,0,1,49,2347,5,5,4,0,0.0,1.0,0.0,0.0
103901,1,1,0,0,30,1995,4,4,4,7,14.0,1.0,0.0,0.0
103902,0,1,0,0,22,1000,1,1,1,0,0.0,0.0,1.0,0.0
103903,1,0,0,0,27,1723,1,4,1,0,0.0,1.0,0.0,0.0

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  int32
 1   Customer Type               103904 non-null  int32
 2   Type of Travel              103904 non-null  int32
 3   satisfaction                103904 non-null  int32
 4   Age                         103904 non-null  int64
 5   Flight Distance             103904 non-null  int64
 6   Inflight entertainment      103904 non-null  int64
 7   Baggage handling            103904 non-null  int64
 8   Cleanliness                 103904 non-null  int64
 9   Departure Delay in Minutes  103904 non-null  int64
 10  Arrival Delay in Minutes    103594 non-null  float64
 11  Class_Business              103904 non-null  float64
 12  Class_Eco                   103904 non-null  float64
 13  Class_Eco Plus              103904 non-null  float64
dtypes: float64(4), int32(4), int64(6)
memory usage: 9.5 MB

In [53]:
X = data.drop('Customer Type',axis=1)
y= data['Customer Type']

In [54]:
## split data into train and test

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler= StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test =scaler.transform(X_test)

In [55]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('label_encoder_customer_type.pkl','wb') as file:
    pickle.dump(label_encoder_customer_type,file)

with open('label_encoder_type_of_travel.pkl','wb') as file:
    pickle.dump(label_encoder_type_of_travel,file)

with open('label_encoder_satisfaction.pkl','wb') as file:
    pickle.dump(label_encoder_satisfaction,file)

with open('onehot_encoder_class.pkl','wb') as file:
    pickle.dump(onehot_encoder_class,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [63]:
## ANN with regression

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [64]:
# model = Sequential([
#     Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
#     Dense(32,activation='relu'),
#     Dense(1)
# ])
model = Sequential()
model.add(Dense(68,activation="relu",input_dim=X_train.shape[1]))
model.add(Dropout(0.3))

#hidden layer
model.add(Dense(32,activation="relu"))
model.add(Dropout(0.3))
model.add(Dense(24,activation="relu"))
model.add(Dropout(0.3))
model.add(Dense(22,activation="relu"))
model.add(Dropout(0.3))

#output layer
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:


#input layer
model.add(Dense(68,activation="relu",input_dim=x_train_scaled.shape[1]))
model.add(Dropout(0.3))

#hidden layer
model.add(Dense(32,activation="relu"))
model.add(Dropout(0.3))
model.add(Dense(24,activation="relu"))
model.add(Dropout(0.3))
model.add(Dense(22,activation="relu"))
model.add(Dropout(0.3))

#output layer
model.add(Dense(1,activation="sigmoid"))

#compile our model
model.compile(loss="binary_crossentropy",optimizer="adam",metrics=["accuracy"])
model.summary()

In [58]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                896

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 3009 (11.75 KB)
Trainable params: 3009 (11.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [59]:
from tensorflow.keras.callbacks import EarlyStopping

Early_Stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [61]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[Early_Stopping_callback]
    )

Epoch 1/100
2598/2598 [==============================] - 7s 2ms/step - loss: 2.7931 - accuracy: 0.8153 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 2/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8217 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 3/100
2598/2598 [==============================] - 5s 2ms/step - loss: 2.8217 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 4/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8218 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 5/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8218 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 6/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8218 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 7/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8218 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 8/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8217 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 9/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8217 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 10/100
2598/2598 [==============================] - 4s 2ms/step - loss: 2.8218 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183
Epoch 11/100
2598/2598 [==============================] - 6s 2ms/step - loss: 2.8218 - accuracy: 0.8171 - val_loss: 2.8020 - val_accuracy: 0.8183